<div class="home-sidebar"  *ngIf="ACroute === 'home'">
    <!-- Sidebar content here -->
    <button  class="logoutButton" (click)="logout()">Déconnexion</button>
  </div>

  <div class="usine-sidebar" *ngIf="ACroute === 'fact'">
    <!-- Sidebar content here -->
       <app-form></app-form>
       <app-round-advance-bar></app-round-advance-bar>
       
  </div>

  <div class="atelier-sidebar"  *ngIf="ACroute === 'atelier'">
    <app-production-view ></app-production-view>
    <div class="equipe">

   </div>
  </div>

  <div class="atelier-sidebar"  *ngIf="ACroute === 'machine'">
    <div class="produit">
      <h2>Produit en cours </h2>
      <div class="container1">
          <p>{{selectedMachine?.productName}}</p>
      </div>
  
     </div>
    <app-round-advance-bar></app-round-advance-bar>

  </div>

