.container{
    background-color: rgba(236, 241, 246, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50px ;
    width: 40%;
    height: 59%;
    
    
}
.content{
    padding: 20px;
    


}
.title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 80px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.lable{
    font-weight: bold;
    font-size: 20px;
    padding-left:50px ;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
input{
    height: 39px;
    width:80%;
    border-radius: 15px;
    border:solid  .8px;
    font-size: 20px;
    padding-left: 10px;
}
.input{
    text-align: center;
}
.row{
    text-align: center;
    width: 100%;

}
.button{
    background-color: rgba(46, 60, 136, 1);
    height: 60px;
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
}
.button:hover{
    opacity: .9;
    cursor: pointer;
}

