<div class="container">
    <p>Nouveau objectif</p>
    <div class="content">
    <form action="">
        <label for="title">Titre :</label>
        <input type="text" id="title" name="title" id="title">
        <label for="product">Produit :</label>
        <input type="text" name="" id="product">
        <label for="quentity">Quantité :</label>
        <input type="text" name="" id="quantity">
        <label for="Dure">Durée :</label>
        <input type="text" name="" id="dure">
        <div class="button">
            <input type="button" value="modifier" class="ajouter" onclick="modifier()">
            <input type="button" value="Annuler" class="annuler">
        </div>
    </form>
    </div>
</div>