<div class="container" *ngIf="ACroute === 'home'">
  <ul>
    <li *ngFor="let usine of usines">
      <div class="content" (dblclick)="navigateToAtelier(usine.id)">
        <h1>{{ usine.nomUsine }}</h1>
        <p>Adresse: {{ usine.adresse }}</p>
        <p>Nombre de personne: {{ usine.nombrePersonne }}</p>
      </div>
    </li>
  </ul>
</div>

<div class="container" *ngIf="ACroute === 'fact'">
  <ul>
    <li *ngFor="let atelier of ateliers">
      <div class="content" (click)="modify(atelier.id)" (dblclick)="navigateToMachine(atelier.id)">
        <h1>{{ atelier.nomAtelier }}</h1>
        <p>Chef d'atelier : {{ atelier.chefAtelier }}</p>
        <p>Produit : {{ atelier.capaciteMaximale}}</p>
      </div>
    </li>
  </ul>
</div>

<div class="container" *ngIf="ACroute === 'atelier' || ACroute === 'machine'">
  <ul>
    <li *ngFor="let machine of machines">
      <div class="content" (dblclick)="onMachineDoubleClicked(machine.id)">
        <h1>{{ machine.nomMachine }}</h1>
        <p>Produit: {{ machine.productName }}</p>
        <p>fonction : {{ machine.fonction }}</p>
      </div>
    </li>
  </ul>
</div>

