.contain{
    width: 90%;
    margin: auto;
    
h2{
    font-size: 30px;
    color: black;
    font-weight: bolder;
    margin-left: 10px;
    
}
.title{
    display: inline;
    font-size: 18px;
    color: black;
    padding-top:15px ;
    padding-right: 10px;
}

.content{
    background-color:  aliceblue;
    height: 180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

}
.Avencement{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}