<div class="contain">
    <h2>Avencement</h2>
    <div class="content">
       
        <div class="Avencement">
            <p class="title">par rapport au temps:</p>
            <circle-progress name="A" [options]="optionsA" [renderOnClick]="false"  class="cercle0"></circle-progress>
        </div>
        <div class="Avencement">
            <p class="title">par rapport a la quantité:</p>
            <circle-progress name="A" [options]="optionsA" [renderOnClick]="false"  class="cercle1"></circle-progress>
        </div>
        </div>
</div>