  <!-- <nav>
    <div class="navigation">
      <div class="element">
        <p>Home</p>
        <div class="line" id="selected"></div>
      </div>

      <div class="element">
        <p>Usines</p>
        <div class="line"></div>
      </div>

      <div class="element">
        <p>Ateliers</p>
        <div class="line"></div>
      </div>

      <div class="element">
        <p>Machines</p>
        <div class="line"></div>
      </div>
      <div class="Profile">
        <div class="column"></div>
          <div>
            <p class="name">GH.mohammed</p>
            <p class="profition">Chef de production</p>
          </div>
          <div>
            <a href=""><img src="./../../assets/profile.png" alt=""></a>
          </div>
      </div>
    </div>
    
  

  </nav> -->
  <nav>
    <div class="navigation">
      <div class="element">
        <a routerLink="/home"><p>Accueil</p></a>
        <div [class]="choix['home']"></div>
      </div>
      <div class="element"> 
        <a routerLink="/Usines"><p>Usines</p></a>
        <div [class]="choix['fact']"></div>
      </div>
      <div class="element">
        <a routerLink="/atelier"><p>Ateliers</p></a>
        <div [class]="choix['atelier']"></div>
      </div>
      <div class="element">
        <a routerLink="/machine"><p>Machines</p></a>
        <div class="line"  [class]= "choix['machine']"></div>
      </div>
    </div>
    <div class="profile">
      <div class="profile-info">
        <p class="name">{{getUserName()}}</p>
        <p class="profession">{{getProfition()}}</p>
      </div>
      <div class="profile-image">
        <a href=""><img src="./../../assets/profile.png" alt=""></a>
      </div>
    </div>
  </nav>
  <!--<div class="sidebar">
    <!-- Sidebar content here 
    <button (click)="logout()" class="logoutButton">Déconnexion</button>
  </div>-->
  <!-- <nav>
    <div class="navigation">
      <a routerLink="/home">
      <div class="element">
        <p>Home</p>
        <div [class]="choix['home']"></div>
      </div>
      </a>

      <div class="element">
        <a routerLink="/usines"><p>Usines</p></a>
        <div [class]="choix['usines']"></div>
      </div>

      <div class="element">
        <a routerLink="/ateliers"><p>Ateliers</p></a>
        <div [class]="choix['ateliers']"></div>
      </div>

      <div class="element">
        <a routerLink="/machines"><p>Machines</p></a>
        <div [class]="choix['machines']"></div>
      </div>
    </div>
    
    <div class="info-user">
    </div>

  </nav> -->